<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swaroopapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".fullimageview" />

        <activity android:name=".scientificcalculator.scientificcalculator" />
        <activity android:name=".shareit.shareit" />
        <activity android:name=".rateus.Rateus" />
        <activity android:name=".website.website" />
        <activity android:name=".theme.theme" />
        <activity android:name=".ebook.pdfvieweractivity" />
        <activity android:name=".ebook.ebookactivity" />
        <activity android:name=".splash"
            android:theme="@style/splash">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    <activity android:name=".MainActivity"
        android:theme="@style/AppTheme"/>

    </application>

</manifest>